<!--

@Author: stephenstanwood
@Date:   2014-05-14 16:17:24
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-15 16:15:43

 -->

<h2>Viewin' a Book</h2>

<h3><%= @book.title %>, release <%= @book.release_date %>, genre: <%= @book.genre %></h3>

<form action="/authors/#{author_id}/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="destroy">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >

  <input type="submit" value="Delete">
</form>

